* {
  margin: 0px;
  padding: 5px;
  font-family: Arial;
 
}

div.principal {
  background-color: #4876FF;
  width: : 1200px;
  margin: 50px;
  margin-top: 20px;
  padding: 60px;
  border-radius: 100px;
  
}

/*PETZ*/
header {
  background-color: #FFFF00;
  width : 42px;
  height: 20px;
  float: left;
  margin-left: 100px;
  border-radius: 20px;
}

/*Funcionarios*/
nav {
  background-color: #FFFF00;
  width : 150px;
  margin=top: 10px;
  height: 20px;
  float: left;
  margin-left: 250px;
  border-radius: 20px;
}

nav ul li {
  float: left;
}

nav ul li a{
  display: block;
  height: 30px;
  padding: 0 30px;
  text-align: center;
}